@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

$logoColor: #582f1e;
$backColor: #f8f8f8;

.error404 {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #582f1e;
  background-color: $backColor;
  flex-direction: column;
}
.error404 > span {
  font-size: 25px;
  padding: 15px;
}

.error404 > span:last-child {
  color: white;
  border: 1px solid $logoColor;
  background-color: $logoColor;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}
