@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

$logoColor: #582f1e;

// HOME

//header
.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
.homeHeader > div {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
}
.logoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerBars {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  left: 20px;
  color: $logoColor;
}
.headerLogo {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

//sidebar
.sidebar {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: white;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: left 0.5s ease-out;

  &.open {
    left: 0;
  }
}
.closeBtn {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.closeBtn > button {
  font-size: 30px;
}
.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuItem > li {
  font-size: 20px;
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  width: 80%;
}

//homeContainer
.homeContainer {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  max-width: 450px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.imgContainer {
  width: 100%;
  height: 250px;
  //   overflow: hidden;
  position: relative;
}
.slider {
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
}
.slider > img {
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

// mainName
.mainName {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0 10px;
}
.mainName > span {
  font-size: 20px;
}
// informContainer
.informContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.stamp {
  border: 1px solid black;
  border-radius: 20px;
  height: 220px;
  position: relative;
}
.information {
  border: 1px solid black;
  border-radius: 20px;
  width: 410px;
  height: 150px;
  position: absolute;
  bottom: 121px;
}
