$logoColor: #582f1e;

// HOME

//header
.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homeHeader > div {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
}
.logoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerBars {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  left: 20px;
  color: $logoColor;
}
.headerLogo {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

//sidebar
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: white;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: left 0.5s ease-out;

  &.open {
    left: 0;
  }
}
.closeBtn {
  display: flex;
  margin: 0 auto;
}
