@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

$logoColor: #582f1e;
$backColor: #f8f8f8;

// menu tap
.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  background-color: $backColor;
}

//menuheader
.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $logoColor;
  color: white;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  font-size: 20px;
}

//menu
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding-top: 7vh;
  margin: 0 auto;
}

// storeComment
.storeComment {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  align-items: baseline;
}
.comment1 {
  font-size: 18px;
  font-weight: bold;
}
.comment2 {
  font-size: 15px;
}

//메뉴카테고리
.menusCategorie {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.menusCategorie > span {
  font-size: 13px;
  margin: 0 10px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  cursor: pointer;

  &.selected {
    background-color: lightgray;
  }
}

// 카페 메뉴판
.menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}
.menus > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.menus > div > span {
  padding-top: 10px;
}
