@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

$logoColor: #582f1e;
$backColor: #f8f8f8;

// menu tap
.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  //   background-color: $backColor;
}

//menuheader
.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $logoColor;
  color: white;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  font-size: 20px;
}

//menu
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding-top: 7vh;
  margin: 0 auto;
}

// storeComment
.storeComment {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  align-items: baseline;
}
.comment1 {
  font-size: 18px;
  font-weight: bold;
}
.comment2 {
  font-size: 15px;
}

// 카페 메뉴판
.menus {
  display: flex;
}
.menus > div {
}
