@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

$logoColor: #582f1e;
$backColor: #f8f8f8;

// menu tap
.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 120vh;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  background-color: $backColor;
  // padding-bottom: 160px;
}

//menuheader
.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $logoColor;
  color: white;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  font-size: 20px;
}
.backArrow {
  position: absolute;
  left: 0;
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
.basketFont {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 25px;
  cursor: pointer;
}
//menu
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding-top: 7vh;
  margin: 0 auto;
}

// storeComment
.storeComment {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  align-items: baseline;
}
.comment1 {
  font-size: 18px;
  font-weight: bold;
}
.comment2 {
  font-size: 15px;
}

//메뉴카테고리
.menusCategorie {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.menusCategorie > span {
  font-size: 13px;
  margin: 0 10px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  cursor: pointer;

  &.selected {
    background-color: lightgray;
  }
}

// 카페 메뉴판
.menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 0;
}
.menus > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.menus > div > span {
  padding-top: 10px;
}

// menuDetail
.menuDetail {
  display: flex;
  flex-direction: column;
  padding: 65px 0;
  align-items: center;
  justify-content: center;
}

// size 관련 탭
.sizeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}
.sizeContainer > span {
  font-size: 17px;
  padding-left: 30px;
}
.sizeBtnContainer {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
}
.sizeBtnContainer > button {
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 0 10px;
  font-size: 25px;
  width: 70px;
  padding: 10px 0;

  &.clicked {
    background-color: $logoColor;
    color: white;
  }
}
.sizeBtnContainer > button > p {
  font-size: 15px;
  padding-top: 10px;
}

// 수량체크
.menuNumber {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  margin-bottom: 90px;
}
.menuNumber > span {
  font-size: 17px;
  padding-left: 30px;
}
.menuNumber > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 20px;
  width: 100%;
}
.menuNumber > div > button {
  padding: 11px;
  color: white;
  background-color: $logoColor;
  border-radius: 10px;
  font-size: 20px;
  transition: transform ease-in-out 0.3s;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.menuNumber > div > span {
  font-size: 25px;
}
//footer container
.menuFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom: 0;
}
.footerPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  padding: 20px 30px;
}
.footerPrice > div:last-child {
  color: red;
}
.detailBtnContainer {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.menuFooter > .detailBtnContainer > button {
  color: black;
  padding: 15px 30px;
  width: 21vh;
  border-radius: 10px;
  margin: 0 10px;
  transition: transform ease-in-out 0.3s;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.menuFooter > .detailBtnContainer > button:first-child {
  background-color: tan;
  color: $logoColor;
}
.menuFooter > .detailBtnContainer > button:last-child {
  background-color: $logoColor;
  color: white;
}

// 장바구니 탭
.basket {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: right 0.5s ease-out;

  &.bOpen {
    right: 0;
  }
}
.bCloseBtn {
  display: flex;
  padding: 10px;
}
.bCloseBtn > button {
  font-size: 30px;
}
